.container {
    background-color: #fbe71e;
    border: 1px solid #cccccc;
    box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 450px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
}

div>div>.button {
    height: 75px;
    padding: 5px;
    background-color: #f9ec81;
    border-radius: 50%;
    border: 1px solid #f0ed5a;
    background-color: color; 
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, .04));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 1px 0 0 rgba(255, 255, 255, .45), inset 0 -1px 0 0 rgba(255, 255, 255, .15), 0 1px 0 0 rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4); 
}

.button:hover {
    background-color: #f3e13d;
}

.operator {
    height: 75px;
    padding: 5px;
    background-color: #f3d01b;
    border-radius: 50%;
    border: 1px solid #f1d02d;
    color: #fff;
    font-size: 2rem;
}

.operator:hover {
    background-color: #fbbd02;
}

.clear {
    background-color: #f1202e;
    border-color: #d12127;
    color: #fff;
    border-radius: 5%;
    width: 80px;
    height: 30px;
}

.clear:hover {
    background-color: #f54652;
}

div>div>.equal-sign {
    background-color: #e96a1b;
    border-color: #e66f25;
    color: #fff;
}

.equal-sign:hover {
    background-color: #ff4203;
}

.screen {
    background-color: #c4c4c2;
    justify-content: left;
    color: black;
    border: 1px solid #8d8d8c;
    border-radius: 7%;
    font-size: medium;
    width: 50%;
    height: 30%;
    cursor: default;
    padding: 10px;
    padding-left: 40%;
    margin: 5px 5px 10px 5px;
}
